doctype 5
html(lang="es")
	link(href="resources/css/home.css", type="text/css", rel="StyleSheet", media="screen")
	include ./components/head.pug
	body
		include ./components/header.pug

		- var home_cont = [{id : "lugar", title : "Visitamos", text : "Llegamos hasta donde estas.", longtext : "Ofrecemos servicios de mantenimiento e instalación en terreno.", url : "/"},  {id : "agua", title : "Agua", text : "Tratamiento y Distribución de agua.", longtext : "Contamos con todo tipo de equipos para el tratamiento o Distribución de agua.", url : "/"}, {id : "equipos", title : "Equipos", text : "Mantenimiento de equipos.", longtext : "Realizamos trabajos de mantenimientos e instalación para equipos hidráulicos y eléctricos.", url : "/"}, {id : "mantenimiento", title : "Mantenimiento", text : "Mantenimiento y  reparación.", longtext : "Reparación y mantenimiento en  sistemas de tuberías, estanques de agua, piscinas, etc.", url : "/"}, {id : "automatizacion", title : "Eléctrico", text : "Automatización y control.", longtext : "Diseñamos sistemas de control y automatización para motores de bombeo y sistemas de riego.", url : "/"}]

		script.
			function open_list(nr) {
				var dat = document.getElementById("data"+nr);
				if(!dat.open) {
						//console.log(""+dat.open+"");
					var elm_a = document.getElementById("icon"+nr);
					elm_a.setAttribute("class","style_hidden");

					var elm_b = document.getElementById("sicon"+nr);
					//elm_b.setAttribute("class","style_hidden");

					var elm_c = document.getElementById("infotx"+nr);
					elm_c.style.width = "100%";
				}
				else {
					var elm_a = document.getElementById("icon"+nr);
					elm_a.setAttribute("class","half");

					var elm_b = document.getElementById("sicon"+nr);
					//elm_b.setAttribute("class","sicon");

					var elm_c = document.getElementById("infotx"+nr);
					elm_c.style.width = "50%";
				}
			}


		div(id="container", role="main")
			div(class="logo")
				div(class="logo-bg")
					img(alt="Logo", src="resources/img/logo.svg", onerror='this.src="/images/logo.svg"')
			div(class="smsc", style="background-image:url(resources/img/background.jpg)")
			div(class="infotx")
				h1= title
				p= info
				h2 Misión
				p= mision
				h2 Visión
				p= vision
			div(id="swiper")
				iframe(border="none", src="swiper")
			div(id="download")
				- var nr = 1
				each val in home_cont
					if(nr++ & 1)
						div(id=val.id, class="section")
							div(id="infotx"+nr,class="half feature")
								details(id="data"+nr)
									summary(onclick="open_list("+nr+");")
										img(id="sicon"+nr, class="sicon", alt="" src="resources/img/svg-"+(nr-1)+".svg")
										h2= val.title
											i(class="fas fa-chevron-right")
										p(class="headline")= val.text
										p= val.longtext
									-var list = list_elem[nr-2]
									div(id="sectlist")
										each val in list
											ul(class="fa-ul")
												li
													span(class="fa-li")
														i(class="fas fa-check")
													a(href=links[2].url+"#"+val.id, title=val.id)
														p=val.text

							div(id="icon"+nr, class="half")
								img(alt="val.title", src="resources/img/svg-"+(nr-1)+".svg", onerror='this.src=""')

					else
						div(id=val.id, class="section")
							div(id="icon"+nr, class="half")
								img(alt="val.title", src="resources/img/svg-"+(nr-1)+".svg", onerror='this.src=""')
							div(id="infotx"+nr,class="half feature")
								details(id="data"+nr)
									summary(onclick="open_list("+nr+");")
										img(class="sicon", alt="" src="resources/img/svg-"+(nr-1)+".svg")
										h2= val.title
											i(class="fas fa-chevron-right")
										p(class="headline")= val.text
										p= val.longtext
									-var list = list_elem[nr-2]
									div(id="sectlist")
										each val in list
											ul(class="fa-ul")
												li
													span(class="fa-li")
														i(class="fas fa-check")
													a(href=links[2].url+"#"+val.id, title=val.id)
														p=val.text
		include ./components/foot.pug
